<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @Job.company_name %></h1>
    <p>
      Por favor confirme o cadastro de vaga no <a href="http://euremoto.com/active/?token=<%= @job.token %>">euremoto.com</a>
    </p>
    <p>Obrigado</p>
  </body>
</html>
