<section class="euremoto">
  <p>O EuRemoto.com é o melhor lugar para você encontrar</p>
</section>
<section class="jobs">
  <article>
    <h2>Vagas para Programadores</h2>
    <ul>
      <% @jobs.each do |job| %>
      <li>
        <span class="new">New</span>
        <%= link_to job_path(job) do %>
          <span class="company"><%= job.company_name %></span>
          <span class="title"><%= job.title %></span>
          <span class="date"><%= l job.created_at, format: :home %></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </article>
</section>
