<div class="bs-callout bs-callout-info">
  <h4>Antes de Publicar</h4>
  <p>O EuRemoto.com é esclusivo para oportunidades onde o candidato pode trabalhar de qualquer lugar. Caso não seja esse o tipo de oportunidade divulgada, podemos remover o anuncio sem aviso prévio.</p>
</div>

<h1>Vamos Contratar?</h1>
<h4>Para isso precisamos de algumas informações.</h4>

<%= render 'form' %>

<%= link_to 'Back', jobs_path %>
